{% extends 'layout.html.twig' %}

{% block page_title %}My files{% endblock %}

{% block content %}
<table>
    {% for item in directory %}
        <tr>
            <td><i class="fas fa-{{ item['type'] }}"></i></td>
            <td>{{item['name']}}</td>
            <td>{{item['modified_last']}}</td>
        </tr>
    {% endfor %}
    <tr>
        <td>{{ error }} </td>
    </tr>
</table>
{% endblock %}