{% extends 'layout.html.twig' %}
{% use 'header.html.twig' %}

{% block page_title %}Final Filer{% endblock %}

{% block content %}
<h1>Final Filer</h1>
<p>Register or log in to manage your files online !</p>
{% endblock %}
