{% extends 'layout.html.twig' %}
{% use 'header.html.twig' %}

{% block page_title %}Login{% endblock %}

{% block content %}
<form action="?action=login" method="POST" name="login">
    <div class="errors">{{ errors }}</div>
    <label for="username">Username: </label><input type="text" name="username" id="username"><span> {{ errors['username'] }}</span><br>
    <label for="password">Password: </label><input type="password" name="password" id="password"><span> {{ errors['password'] }}</span><br>
    <input type="submit" name="submit" value="Login">
</form>
{% endblock %}