{% extends 'layout.html.twig' %}
{% use 'header.html.twig' %}

{% block page_title %}Register{% endblock %}

{% block content %}
<form action="?action=register" method="POST" name="register" class="registerForm">
    <div><label for="first-name">First name: </label><input type="text" name="first-name" id="first-name"></div><br>
    <div><label for="last-name">Last name: </label><input type="text" name="last-name" id="last-name"></div><br>
    <div><label for="username">Username: </label><input type="text" name="username" id="username"><span> {{ errors['username'] }}</span></div><br>
    <div><label for="email">Email: </label><input type="text" name="email" id="email"><span> {{ errors['email'] }}</span></div><br>
    <div><label for="password">Password: </label><input type="password" name="password" id="password"><span> {{ errors['password'] }}</span></div><br>
    <div><label for="password-repeat">Password Repeat: </label><input type="password" name="password-repeat" id="password-repeat"></div><br>
    <input type="submit" name="submit" value="Register">
</form>
{% endblock %}